NEXT_PUBLIC_SITEURL = http://localhost:3000
NEXT_PUBLIC_FLOOR = FLOOR
NEXT_PUBLIC_ACCESSTOKENKEY = ACCESSTOKEN
NEXT_PUBLIC_USERKEY = USER
NEXT_PUBLIC_WEBSOCKET_URL = http://127.0.0.1:19001
NEXT_PUBLIC_GITHUB_CLIENT_ID = 
GITHUB_CLIENT_SECRET = 
C8URL = https://gdn.paas.macrometa.io
C8APIKEY = 
NEXT_PUBLIC_AGORA_APP_ID = 
NEXT_PUBLIC_AGORA_APP_CHANNEL = 