NEXTAUTH_URL =

NEXT_PUBLIC_WEBSOCKET_URL = 

GITHUB_CLIENT_ID = 
GITHUB_CLIENT_SECRET = 

C8URL = https://gdn.paas.macrometa.io
C8APIKEY = 

NEXT_PUBLIC_AGORA_APP_ID = 
NEXT_PUBLIC_AGORA_APP_CHANNEL = 
NEXT_PUBLIC_RTCTOKENKEY = RTCTOKEN