.mask {
    position        : fixed;
    top             : 0;
    left            : 0;
    bottom          : 0;
    right           : 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index         : 10000;
    visibility      : hidden;
}

.container {
    width           : 1000px;
    height          : 100vh;
    background-color: #ffffff;
    transition      : transform .5s ease-in-out;
    transform       : translate(1000px);
    position        : fixed;
    right           : 0;
    top             : 0;
    z-index         : 999999;
}

.open {
    transform: translate(0);
}