.nav {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  width: 100%;
  border-right: 1px solid #eaeaea;
}

.nav > * {
  position: relative;
  margin: 16px 16px 16px 0;
  text-decoration: none;
  background: white;
  border-radius: 4px;
  font-size: 14px;
  padding: 12px 16px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.025em;
  color: #333;
  border: 1px solid #eaeaea;
  transition: all 0.125s ease;
}

.nav > a:hover {
  background-color: #eaeaea;
}

.online {
  color: greenyellow;
}

.offline {
  color: palevioletred;
}