.nav {
  display        : flex;
  justify-content: flex-end;
  width          : 100%;
  border-right   : 1px solid #eaeaea;
}

.nav>* {
  position       : relative;
  margin         : 16px 16px 16px 0;
  padding        : 12px 16px;
  border-radius  : 4px;
  text-decoration: none;
  background     : white;
  font-size      : 14px;
  font-weight    : 600;
  letter-spacing : 0.025em;
  color          : #333;
  text-transform : uppercase;
  transition     : all 0.125s ease;
}

.nav>a {
  background: linear-gradient(to right, #feac5e, #c779d0, #4bc0c8);
  color: white;
}

.nav>a:hover {
  background-color: #eaeaea;
}

.online {
  color: greenyellow;
}

.offline {
  color: palevioletred;
}