.nav {
  z-index        : 1000;
  position       : fixed;
  right          : 0;
  top            : 0;
  display        : flex;
  justify-content: flex-end;
  width          : 100%;
  max-height     : 75px;
}

.nav>* {
  position       : relative;
  margin         : 16px 16px 16px 0;
  padding        : 12px 16px;
  border-radius  : 4px;
  text-decoration: none;
  background     : white;
  font-size      : 14px;
  font-weight    : 600;
  letter-spacing : 0.025em;
  color          : #333;
  text-transform : uppercase;
}

.nav>a {
  background: linear-gradient(to right, #feac5e, #c779d0, #4bc0c8);
  color     : white;
}

.nav>a:hover {
  background: linear-gradient(to right, #4bc0c8, #c779d0, #feac5e);
  color     : #e0e0e0;
}

.online {
  color: greenyellow;
}

.offline {
  color: palevioletred;
}