.mask {
  z-index         : 99999;
  position        : fixed;
  top             : 0;
  left            : 0;
  bottom          : 0;
  right           : 0;
  background-color: rgba(0, 0, 0, 0.5);
  visibility      : hidden;
}

.container {
  z-index         : 999999;
  position        : fixed;
  right           : 0;
  top             : 0;
  width           : 1000px;
  height          : 100vh;
  background-color: white;
  transition      : transform 1s ease-in-out;
  transform       : translate(1000px);
}

.open {
  transform: translate(0);
}