@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  
}

#__next {
  display       : flex;
  flex-direction: column;
  min-height    : 100vh;
}

body {
  margin     : 0;
  font-size  : 24px;
  font-family: 'Exo 2';
}

button,
input {
  font-family: 'Exo 2';
}