@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .movement-transition {
    transition-property: transform;
    transition-timing-function: linear;
    transition-duration: 200ms;
  }
}

#__next {
  display       : flex;
  flex-direction: column;
  min-height    : 100vh;
}

html {
  overflow: hidden;
}

body {
  margin         : 0;
  font-size      : 24px;
  font-family    : 'Exo 2';
  overflow       : scroll;
}

button,
input {
  font-family: 'Exo 2';
}