.loadingBox {
  position       : fixed;
  left           : 0;
  top            : 0;
  right          : 0;
  bottom         : 0;
  background     : rgba(255, 255, 255, 0.8);
  z-index        : 10001;
  display        : flex;
  align-items    : center;
  justify-content: center;
}

.loadingBox>span {
  margin-left: 10px;
  font-size  : 16px;
}

.main {
  width          : 100vw;
  height         : 100vh;
  display        : flex;
  flex-direction : column;
  align-items    : center;
  justify-content: center;
}

.button {
  box-sizing      : border-box;
  padding         : 8px 24px;
  border-radius   : 8px;
  background-color: #130197;
  font-size       : 20px;
  color           : white;
  text-decoration : none;
}

.button:hover {
  background-color: #2d1abb;
}